:root {
  --color-background: rgba(0, 0, 0, 0.5);
  --blue-color: #2196f3;
  --black-color: #212121;
  --gray-color: #757575;
  --white-color: #ffffff;
  --background-color-basic: #2f303a;
  --background-color-second: #f5f4fa;
  --icon-color-gray: #afb1b8;
  --margin-card: 30px;
  --margin-card-minus: -30px;
  --count-card: 4;
  --time-func-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --half-transparent-color: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: var(--gray-color); */
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* width: 1280px; */
  padding: 20px 10%;
}

/* ______ Base social links constructor ______ */

.main-image {
  max-width: 95%;
  margin: 0 auto;
  opacity: 0.85;
  border-radius: 10px;
}

.constructor-list-of-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contructor-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--icon-color-gray);
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: background-color, fill;
}

.constructor-item {
  width: 45px;
  height: 45px;
}

.constructor-item:not(:last-child) {
  margin-right: 10px;
}

.contructor-soc-link:hover,
.contructor-soc-link:focus {
  fill: var(--white-color);
  background-color: var(--blue-color);
}

/* ________ Header_______  */

.hero {
  background-size: cover;
  background-image: url("../images/back-city.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 500px; */
}
/* 
.hero .container {
  padding-top: 20px;
} */

.hero-title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: beige;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: beige;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;

  max-width: 500px;
  margin: 10px auto;
}

/* __________-MAIN_____ */

.section-title {
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  background-color: aliceblue;
  border-radius: 10px;
}

.table-title {
  text-align: center;
  margin-bottom: 15px;
  margin-right: 5px;
  padding: 10px;

  position: sticky;
  position: -webkit-sticky;
  top: 0;

  background-color: #e5dfdcdf;
  border-radius: 10px;
}

.table-sites {
}

@media screen and (min-width: 1200px) {
  .table-sites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.list-sites {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  margin-right: 5px;

  background-color: #e5dfdc8a;
  border-radius: 10px;
}

.list-site-item {
  display: flex;
}

.site-link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: solid 1px #ececec;
  border-radius: 5px;

  transition-duration: 250ms;
  transition-property: box-shadow;
}

.site-link:hover,
.site-link:focus {
  box-shadow: 0px 0px 12px 1px black;
}

.img-site {
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

/* _________ Description and contact ________ */

.text-description {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.link-btn-email {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  border: 2px solid black;

  margin: 0 auto;

  width: 100%;
  max-width: 600px;

  height: 60px;
  background-color: transparent;
  transition-duration: 250ms;
  transition-property: background-color, color;

  font-weight: 700;
  letter-spacing: 0.04em;
}

.link-btn-email:hover,
.link-btn-email:focus {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

/* __________ Footer */

.footer {
  background-color: var(--background-color-basic);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.list-address li:not(:last-child) {
  margin-bottom: 10px;
}

.logo-white {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

/* ____________ Address */

.address {
  font-style: normal;
  color: var(--half-transparent-color);
}

.address-company {
  color: white;
}

/* _____________ Social links */

.title-social-links {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 20px;
  margin-top: 20px;
}

.address a {
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: color;
}

.address a:hover,
.address a:focus {
  color: var(--blue-color);
}

.footer-display {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-block-social {
  margin-left: 70px;
}

.footer-soc-link {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
